/*  
 *  API STYLES
 */


/* tag styles */
pre {
  padding: 0;
}

code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
  font-size: 12px;
}

/* masthead */
div#masthead {
  background: url(../images/header-stripe-small.png) repeat-x top left;
  height: 76px;
}

  div#masthead div#masthead_content {
    margin: 0 auto;
    width: 835px;
    position: relative;
  }

  div#masthead h1#logo {
    background: url(../images/header-logo-small.png) no-repeat 0 1px;
    width: 118px;
    height: 76px;
    position: relative;
    left: 60px;
  }
  
/* footer */
div#footer {
  width: 960px;
  margin: 0 auto;
}

  div.about {
    margin-top: 20px;
    padding-top: 20px;
    width: 835px;
    margin-left: 120px;
    border-top: 1px solid #aaa;
    color: #aaa;
  }

    div.about a,
    div.about a:link {
      color: #aaa;
      text-decoration: underline;
      border: 0;
    }
    
  div.copyright,
  div.credits {
    width: 360px;
    float: left;
  }
  
    div.copyright .cc {
      width: 115px;
      margin-right: 5px;
      text-align: center;
      float: left;
    }
  
    div.copyright .copyright-about {
      width: 235px;
      float: left;
    }
    
  div.credits {
    margin-left: 115px;
  }


.page-title span.type {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #aaa;
  letter-spacing: 0;
}

h2.page-title {
  margin-top: 0;
  line-height: 100%;
}

ul.breadcrumbs {
  margin-left: 120px;
}

  ul.breadcrumbs li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    margin-left: 0;
  }



ul.method-list {
  margin-top: 0;
}
  
  ul.method-list li {
    margin-top: 0;
    float: left;
    margin-right: 5px;
    margin-left: 0;
    list-style-type: none;
  }

    ul.method-list li a,
    ul.method-list li a:link {
      text-decoration: none;
      border: 0;
    }

ul.method-details-list {
  margin-top: 0;
}
  
  ul.method-details-list li.method-description {
    margin-top: 0;
    margin-bottom: 3.0em;
    margin-left: 0;
    list-style-type: none;
  }

    ul.method-details-list li h4 {
      margin: 0 0 0.6em;
      line-height: 90%;
    }
  
    ul.method-details-list li pre {
      margin-top: 0;
    }
      
      ul.method-details-list li pre code {
        font-size: 13px;
      }
    
    ul.method-details-list li code {
      font-size: 12px;
    }

    h4.inherited {
      padding-top: 5px;
      clear: left;
      font-style: italic;
      font-weight: bold;
      font-size: 14px;
    }
    
.method-description h4 .method-permalink a {
  color: #aaa;
  text-decoration: none;
  border: 0;
  font-size: 14px;
}

ul.argument-list {
  margin-top: -5px;
  list-style-type: disc;
  margin-left: 20px;
}

  ul.argument-list li {
    list-style-type: disc;
    font-size: 90%;
    margin-bottom: 0;
  }
  
    ul.argument-list li code {
      font-size: 11px;
    }
    
ul.section-list {
  margin-top: 0;
} 

   ul.section-list li {
     margin-top: 0;
     margin-left: 0;
     list-style-type: none;
   }
   
    ul.section-list li h4 {
      margin-top: 0;
    }

    
/* Aliases */

.alias,
.related-to {
  font-style: italic;
}

  .alias code,
  .related-to code {
    font-style: normal;
  }
  
/* Section icons */

.page-content .section .section-title h3 {
  padding-right: 24px;
  background-position: right 0;
  background-repeat: no-repeat;
}

.section-constructor .section-title h3 {
  background-image: url(../images/constructor.png);
}

.section-method-list .section-title h3 {
  background-image: url(../images/method.png);
}

.section-klass_methods .section-title h3 {
  background-image: url(../images/class_method.png);  
}

.section-klass_properties .section-title h3 {
  background-image: url(../images/class_property.png);  
}

.section-instance_methods .section-title h3 {
  background-image: url(../images/instance_method.png);
}

.section-instance_properties .section-title h3 {
  background-image: url(../images/instance_property.png);  
}

.section-mixins .section-title h3 {
  background-image: url(../images/mixin.png);
}

.section-classes .section-title h3 {
  background-image: url(../images/class.png);
}

.section-namespaces .section-title h3 {
  background-image: url(../images/namespace.png);
}

.section-sections .section-title h3 {
  background-image: url(../images/section.png);
}

.section-utilities .section-title h3 {
  background-image: url(../images/utility.png);
}

.section-description .section-title h3 {
  background-image: url(../images/description.png);
}

.section-subclasses .section-title h3 {
  background-image: url(../images/subclass.png);
}

.section-superclass .section-title h3 {
  background-image: url(../images/superclass.png);
}

/* search box */

.search-results {
  position: absolute;
  background-color: #fff;
  height: 200px;
  width: 233px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 7px -11px 0;
  border: 1px solid #999;
  top: 28px;
}

  * html .search-results {
    left: 486px;
    top: 30px;
  }
  
    
/* search result types */

.menu-item a,
.menu-item a:link {
  display: block;
  padding: 3px 10px 3px 28px;
  background-position: 6px 50%;
  background-repeat: no-repeat;
  text-align: left;
  text-decoration: none;
  color: #333;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
  
}

  .menu-item a:hover,
  .menu-item a.highlighted,
  #menu .highlighted a {
    border-top: 1px solid #69f;
    border-bottom: 1px solid #69f;
    background-color: #f0f0ff;      
  }


.menu-item a.section {
  font-weight: bold;
  background-image: url(../images/section.png);
}

.menu-item a.class_method,
.menu-item a.instance_method {
  background-image: url(../images/method.png);  
}

.menu-item a.class {
  background-image: url(../images/class.png);  
}

.menu-item a.constructor {
  background-image: url(../images/constructor.png);  
}

.menu-item a.class_property {
  background-image: url(../images/class_property.png);  
}

.menu-item a.instance_property {
  background-image: url(../images/instance_property.png);  
}

.menu-item a.namespace {
  background-image: url(../images/namespace.png);  
}

.menu-item a.utility {
  background-image: url(../images/utility.png);    
}


/* halo around selected method */

.highlighter {
  border: 3px solid #69f;
  z-index: -1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* MENU */
 
div#menu {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

  #menu .api-box h2 a,
  #menu .search-box {
    width: 213px;
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    margin-right: 5px;
    text-align: center;
    float: right;
  }
  
    * html #menu .api-box h2 a,
    * html #menu .search-box {
      height: 30px;
      line-height: 30px;
    }
  
  #menu .api-box {
  }
  
    #menu .api-box h2 a {
      font-size: 14px;
      font-weight: normal;
      font-family: Verdana, sans-serif;
      display: block;
      background-color: #cde0fb;
      border: 1px solid #669;
      border-top: 0;
      text-decoration: none;
      color: #222;
    }
    
    #menu .api-box .menu-items {
      position: absolute;
      background-color: #fff;
      height: 200px;
      width: 233px;
      overflow: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      top: 35px;
      border: 1px solid #999;
      right: 5px;
    }
    
      * html #menu .api-box .menu-items {
        right: 10px;
        top: 37px;
      }
    
      #menu .api-box ul,
      #menu .api-box li {
        margin: 0;
        padding: 0;
      }
    
      #menu .api-box .menu-item a {
      }
  
  #menu .search-box {
    background-color: #cee8c3;
    border: 1px solid #696;
    border-top: 0;
  }
  
    #menu .search-box input {
      width: 150px;
      padding: 3px 10px;
      margin-top: 2px;
      border: 1px solid #999;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
    }
    
#menu #search.ghosted {
  color: #aaa;
  text-align: left;
}
    

/* notes */

p.note,
p.alias,
p.related-to {
  font-size: 11px;
  line-height: 14px;
  padding: 5px 5px 5px 60px;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  border: 1px solid #000;
}

p.note {
  background-color: #f0f0f4;
  background-image: url(../images/information.png);
  border-color: #69c;
}

p.alias {
  background-color: #fff6de;
  background-image: url(../images/alias.png);
  border-color: #cc9;
}

p.related-to {
  background-color: #f4f0f4;
  background-image: url(../images/related_to.png);
  border-color: #c9c;
}


