<div id="position_test_ensure_scrollbars" style="width:10000px; height:10000px; position:absolute" > </div>

<div id="position_test_body_absolute" style="position: absolute; top: 10px; left: 10px">
  <div id="position_test_absolute_absolute" style="position: absolute; top: 10px; left:10px"> </div>
  <div id="position_test_absolute_relative" style="position: relative; top: 10px; left:10px">
    <div style="height:10px;font-size:2px">test<span id="inline">test</span></div>
    <div id="position_test_absolute_relative_undefined"> </div>
  </div>
</div>

<div id="Header" style="height: 400px;
    background-color: #f1f1f1;">Header</div>
<div id="MainMenu" style="background-color: #0f0;">Main Menu</div>
<div id="Scroller" style="height: 2000px;">Force scroll</div>
<div id="SubMenu" style="position: absolute;
    top: 250px;
    left: 250px;
    background-color: #fc0;">Sub Menu</div>
