[submodule "vendor/unittest_js"]
	path = vendor/unittest_js
	url = git://github.com/tobie/unittest_js.git
[submodule "vendor/caja_builder"]
	path = vendor/caja_builder
	url = git://github.com/tobie/unittest_js_caja_builder.git
