[submodule "vendor/unittest_js"]
  path = vendor/unittest_js
  url = git://github.com/tobie/unittest_js.git
[submodule "vendor/caja_builder"]
  path = vendor/caja_builder
  url = git://github.com/tobie/unittest_js_caja_builder.git
[submodule "vendor/pdoc"]
  path = vendor/pdoc
  url = git://github.com/tobie/pdoc.git
[submodule "vendor/sprockets"]
  path = vendor/sprockets
  url = git://github.com/sstephenson/sprockets.git


[submodule "vendor/nwmatcher/repository"]
	path = vendor/nwmatcher/repository
	url = git://github.com/dperini/nwmatcher.git
[submodule "vendor/sizzle/repository"]
	path = vendor/sizzle/repository
	url = git://github.com/jquery/sizzle.git
[submodule "vendor/slick/repository"]
	path = vendor/slick/repository
	url = git://github.com/mootools/slick.git
