<% @title = "Home" %>

<div class="page-introduction">
  <%= @index_page_content %>
</div> <!-- .section -->

<div class="section section-sections">
  <div class="section-title">
    <h3>Sections</h3>
  </div> <!-- .section-title -->
  
  <div class="section-content">
    <ul class="section-list">
      <% @root.sections.each do |section| %>
      <li>
        <h4>
          <a href="<%= path_to_section(section) %>"><%= section.name %></a>
        </h4>
        <p><%= htmlize(section.short_description) %></p>
      </li>      
      <% end %>
    </ul>
  </div> <!-- .section-content -->
</div> <!-- .section clearfix -->