/* The "section" class implicitly needs a clearfix; adding it here for convenience. */

.clearfix:after,
.section:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix, .section {
    display: inline-block;
}

html[xmlns] .clearfix,
html[xmlns] .section {
    display: block;
}

* html .clearfix,
* html .section {
    height: 1%;
}

span.replaced { visibility: hidden; }
span.hidden { display: none; }


body {
  font-family: Verdana, sans-serif;
  font-size: 82.5%;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

  body * {
    margin: 0;
    padding: 0;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

pre {
 white-space: pre-wrap;       /* CSS 3                  */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999    */
 white-space: -pre-wrap;      /* Opera 4-6              */
 white-space: -o-pre-wrap;    /* Opera 7                */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a img {
  border: 0;
}

ul, li {
  list-style-type: none;
}

ol, ul {
  margin: 0 0 15px;
}

code, pre {
  font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, Andale Mono, monospace;
  font-size: 12px;
}

#page a.img,
#page a.img:link,
#page a.img:visited {
  border: 0;
}

.content {
  padding-left: 120px;
  margin: 0 auto;
}

#page {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 241px;
  overflow-y: scroll;
  overflow-x: auto;
}


/* MASTHEAD */

.masthead {
  margin-top: 31px;
  height: 75px;
  padding: 1px 0;
  background: url(../images/header-stripe-small.png) repeat-x;
}

h1.logo {
  width: 236px;
  height: 150px;
  background: url(../images/header-logo-small.png) no-repeat;
}

  h1.logo a {
    text-decoration: none;
  }
  
/* BREADCRUMBS */

ul.breadcrumbs {
  margin-left: 120px;
  padding-left: 120px;
  list-style-type: none;
}

  ul.breadcrumbs li {
    float: left;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0.4em;
  }

#deprecated {
  position: absolute;
  right: 0;
  top: 0;
}

#deprecated img {
  display: block;
  border: 0;
}
  

/* PAGE CONTENT */

.page-content {
  width: 715px;
  margin: 0 0 30px 0;
}

  .page-content h2.page-title {
    margin: 0 0 15px 120px;
    line-height: 100%;
    font-size: 27px;
    letter-spacing: -1px;
    color: #444;
  }
  
  .page-introduction {
    margin-left: 120px;
    margin-bottom: 25px;
  }
  
  .page-content a,
  .page-content a:link {
    color: #036;
    border-bottom: 1px solid #036;
    text-decoration: none;
  }
  
    .page-content a:visited {
      border-bottom: 1px solid #bbb;
    }
    
  .page-content ul,
  .page-content ol {
    margin: 10px 0;
  }
  
  .page-content li {
    margin: 5px 0 8px 20px;
    list-style-type: disc;
  }

  .page-content p {
    margin: 0 0 0.8em;
  }
  
  .page-content code {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0 3px;
  }

  .page-content pre {
    color: #333;
    background-color: #f0f0ff;
    border: 1px solid #dde;
    padding: 3px 5px;
    margin: 0 0 1em;
  }
  
    .page-content pre code {
      background-color: transparent;
      border: 0;
      padding: 0;
      line-height: 100%;
    }

  
  .page-content code {
    
  }
  
  .page-content h1 {
    font-size: 27px;
    color: #000;
    margin: 1.0em 0 0.6em;
  }
  
  .page-content h2 {
    font-size: 23px;
    color: #000;
    margin: 1.0em 0 0.6em;
  }
  
  .page-content h3 {
    font-size: 20px;
    color: #000;
    margin: 1.0em 0 0.6em;
  }
  
  .page-content h4 {
    font-size: 17px;
    color: #555;
    margin: 1.0em 0 0.6em;
  }

  .page-content h5 {
    font-size: 15px;
    color: #2a2a2a;
    margin: 1.0em 0 0.6em;
  }

  .page-content h6 {
    font-size: 14px;
    color: #000;
    margin: 1.0em 0 0.6em;
  }
  
/* PAGE SECTIONS */

.section {
  margin: 10px 0 15px;
}

  .section-title {
    width: 110px;
    float: left;
    margin-right: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    text-align: right;
    overflow: hidden;
  }
  
    .section-title h3 {
      color: #999;
      font-size: 14px;
      line-height: 110%;
      margin-top: 3px;
      padding-right: 10px;
      padding-bottom: 5px;
    }
    
  .section-content {
    width: 595px;
    float: left;
  }


/* API STYLES */

.page-title .type {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #aaa;
}


ul.section-list {
  list-style-type: none;
  margin-top: 0;
}

  ul.section-list li {
    list-style-type: none;
    margin: 0 0 15px;
  }
  
    ul.section-list li h4 {
      margin-top: 0;
    }
  
ul.method-list {
  margin-top: 0;
}

  ul.method-list li {
    float: left;
    margin: 0 5px 3px 0;
    list-style-type: none;
    padding-bottom: 0;
  }
  
    ul.method-list li a,
    ul.method-list li a:link {
      text-decoration: none;
      border: 0;
    }
  
ul.method-details-list {
  margin-top: 0;
}

  li.method-description {
    margin: 0 0 2.0em;
    list-style-type: none;
  }
  
    .method-description h4 {
      margin: 0 0 0.6em;
      line-height: 90%;
    }
    
    .method-description p {
      margin: 0.8em 0;
    }
  
  
 .method-description .method-permalink a {
  color: #aaa;
  text-decoration: none;
  border-bottom: 0;
  font-size: 14px;
}

h4.inherited {
  clear: left;
  font-size: 15px;
  font-style: italic;
}

pre.syntax {
  margin-bottom: 5px;
}

ul.argument-list {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

  ul.argument-list li {
    line-height: 140%;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
    ul.argument-list li code {
      font-size: 11px;
    }
    
    ul.argument-list .argument-name {
      background-color: #eeffee;
      border-color: #6b6;
    }
  
  
/* SECTION ICONS */

.page-content .section .section-title h3 {
  padding-right: 24px;
  background-position: right 0;
  background-repeat: no-repeat;
}

.section-constructor .section-title h3 {
  background-image: url(../images/constructor.png);
}

.section-method-list .section-title h3 {
  background-image: url(../images/method.png);
}

.section-class_methods .section-title h3 {
  background-image: url(../images/class_method.png);  
}

.section-class_properties .section-title h3 {
  background-image: url(../images/class_property.png);  
}

.section-instance_methods .section-title h3 {
  background-image: url(../images/instance_method.png);
}

.section-instance_properties .section-title h3 {
  background-image: url(../images/instance_property.png);  
}

.section-mixins .section-title h3 {
  background-image: url(../images/mixin.png);
}

.section-classes .section-title h3 {
  background-image: url(../images/class.png);
}

.section-namespaces .section-title h3 {
  background-image: url(../images/namespace.png);
}

.section-sections .section-title h3 {
  background-image: url(../images/section.png);
}

.section-utilities .section-title h3 {
  background-image: url(../images/utility.png);
}

.section-description .section-title h3 {
  background-image: url(../images/description.png);
}

.section-subclasses .section-title h3 {
  background-image: url(../images/subclass.png);
}

.section-superclass .section-title h3 {
  background-image: url(../images/superclass.png);
}

/* notes */

p.note,
p.alias,
p.related-to {
  font-size: 11px;
  line-height: 14px;
  padding: 5px 20px 5px 60px;
  background-repeat: no-repeat;
  background-position: 20px 50%;
  border: 1px solid #000;
}

p.note {
  background-color: #f0f0f4;
  background-image: url(../images/information.png);
  border-color: #69c;
}

p.alias {
  background-color: #fff6de;
  background-image: url(../images/alias.png);
  border-color: #cc9;
}

p.related-to {
  background-color: #f4f0f4;
  background-image: url(../images/related_to.png);
  border-color: #c9c;
}

/* SIDEBAR */

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  background: #fff;
  font-size: 13px;
}

#sidebar form.search-ribbon {
  margin: 0;
  height: 24px;
  border-right: 1px solid #636363;
  padding: 4px 0 3px;
  border-bottom: 1px solid #587e93;
  background: url(../images/search-background.png) repeat-x 0 0;
  text-align: center;
}

/* Keep these around for `Control.Tabs`. */
.sidebar-tabs { display: none; }
  
.menu-items ul {
  margin: 0;
}

  .menu-items ul li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }

  .menu-items ul .menu-item a {
    padding-left: 38px;
    background-position: 16px 50%;
  }
  
    .menu-items ul ul .menu-item a {
      padding-left: 48px;
      background-position: 26px 50%;
    }
    
      .menu-items ul ul ul .menu-item a {
        padding-left: 58px;
        background-position: 36px 50%;
      }
      
        .menu-items ul ul ul ul .menu-item a {
          padding-left: 68px;
          background-position: 46px 50%;
        }
      
      

    .menu-item a,
    .menu-item a:link {
      display: block;
      padding: 3px 10px 3px 28px;
      background-position: 6px 50%;
      background-repeat: no-repeat;
      text-align: left;
      text-decoration: none;
      color: #333;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      white-space: nowrap;
    }

      .menu-item a:hover,
      .menu-item a.highlighted,
      #sidebar .highlighted a {
        border-top: 1px solid #69f;
        border-bottom: 1px solid #69f;
        background-color: #f0f0ff;
      }

      .menu-item a.current,
      #sidebar .current a {
        border-top: 1px solid #f0f0ff;
        border-bottom: 1px solid #f0f0ff;
        background-color: #f0f0ff;
      }

      .menu-item a.current-parent,
      #sidebar .current-parent a {
        border-top: 1px solid #f0f0ff;
        border-bottom: 1px solid #f0f0ff;
        background-color: #f0f0ff;
      }

    .menu-item a.class-method {
      background-image: url(../images/class_method.png);  
    }
    
    .menu-item a.instance-method {
      background-image: url(../images/instance_method.png);  
    }

    .menu-item a.class {
      background-image: url(../images/class.png);  
    }

    .menu-item a.constructor {
      background-image: url(../images/constructor.png);  
    }

    .menu-item a.class-property {
      background-image: url(../images/class_property.png);  
    }

    .menu-item a.instance-property {
      background-image: url(../images/instance_property.png);  
    }

    .menu-item a.namespace {
      background-image: url(../images/namespace.png);  
    }
    
    .menu-item a.mixin {
      background-image: url(../images/mixin.png);
    }

    .menu-item a.utility {
      background-image: url(../images/utility.png);    
    }
    
    .menu-item a.section {
      margin: 0;
      background-image: url(../images/section.png);    
    }
  
    #api_menu .menu-item a.section {
      height: 22px;
      font-weight: normal;
      color: #a5a5a5;
      margin-top: 0;
      margin-bottom: 0;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background: url(../images/section-background.png) repeat-x 0 0;
    }
    
.menu-section {
  margin-bottom: 1.0em;
}
  
#menu_pane {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  width: 239px;
  border-right: 1px solid #636363;
  overflow-y: scroll;
  overflow-x: hidden;
}

#search_pane {
  width: 239px;
  border-right: 1px solid #636363;
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
}

  #search_results {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 239px;
  }
  
#search {
  width: 200px;
  padding: 2px 3px;
}
  
input.ghosted {
  font-style: italic;
  color: #aaa;
}


/* FOOTER */

#footer {
  color: #bbb;
  width: 595px;
  margin-left: 120px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  font-size: 10px;
  padding: 1em 0;
}

  #footer a,
  #footer a:link {
    color: #999;
  }

#src_code_href {
	float: right;
}